<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3>{{ titulo }}</h3>
        <button type="button" class="btn btn-warning" [routerLink]="[redirect]">Volver</button>
    </div>
    <div class="card-body">
        <form [formGroup]="miFormulario" autocomplete="off">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                <div class="form-text text-danger" *ngIf="error?.nombre">
                    <!-- * error && error.nombre, es equivalente ===> error?.nombre, es decir con el ?-->
                    {{ error.nombre }}
                </div>
            </div>
            <div class="mb-3">
                <label for="asignaturaPadre">Asignatura Principal</label>
                <select id="asignaturaPadre" formControlName="asignaturaPadre" [compareWith]="compararAsignatura"
                    class="form-select">
                    <option disabled selected [ngValue]="null">--Seleccionar--</option>
                    <option *ngFor="let asignatura of asignaturasPadre" [ngValue]="asignatura">
                        {{ asignatura.nombre }}
                    </option>
                </select>
                <div class="form-text text-danger" *ngIf="error?.asignaturaPadre">
                    {{ error.asignaturaPadre }}
                </div>
            </div>
            <div class="mb-3">
                <label for="asignaturaHija">Sub Asignatura</label>
                <select id="asignaturaHija" formControlName="asignaturaHija" [compareWith]="compararAsignatura"
                    class="form-select">
                    <option disabled selected [value]="null">--Seleccionar--</option>
                    <option *ngFor="let asignatura of asignaturasHija" [ngValue]="asignatura">
                        {{ asignatura.nombre }}
                    </option>
                </select>
                <div class="form-text text-danger" *ngIf="error?.asignaturaHija">
                    {{ error.asignaturaHija }}
                </div>
            </div>
            <h2 class="border-bottom pb-2">
                <button type="button" (click)="agregarPregunta()" class="btn btn-sm btn-success">+</button>
                Preguntas
            </h2>
            <div formArrayName="preguntas">
                <div *ngFor="let pregunta of preguntasArray.controls; let i=index">
                    <div [formGroupName]="i">
                        <div class="input-group mb-3">
                            <input type="text" formControlName="texto" class="form-control" aria-label="pregunta">
                            <button type="button" class="btn btn-outline-danger"
                                (click)="borrarPregunta(i)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" *ngIf="!miFormulario.controls['id'].value" (click)="crear()"
                class="btn btn-primary">Crear</button>
            <button type="button" *ngIf="miFormulario.controls['id'].value" (click)="editar()"
                class="btn btn-primary">Editar</button>
        </form>
    </div>
</div>