<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3>{{ titulo }}</h3>
        <button type="button" class="btn btn-warning" [routerLink]="[redirect]">Volver</button>
    </div>
    <div class="card-body">
        <form [formGroup]="miFormulario" autocomplete="off">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                <div class="form-text text-danger" *ngIf="error?.nombre">
                    <!-- * error && error.nombre, es equivalente ===> error?.nombre, es decir con el ?-->
                    {{ error.nombre }}
                </div>
            </div>
            <div class="mb-3">
                <label for="asignaturaPadre">Asignatura Principal</label>
                <select id="asignaturaPadre" formControlName="asignaturaPadre" class="form-select">
                    <option disabled selected [ngValue]="null">--Seleccionar--</option>
                    <option *ngFor="let asignatura of asignaturasPadre" [ngValue]="asignatura">
                        {{ asignatura.nombre }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="asignaturaHija">Sub Asignatura</label>
                <select id="asignaturaHija" class="form-select">
                    <option disabled selected [value]="null">--Seleccionar--</option>
                    <option *ngFor="let asignatura of asignaturasHija" [ngValue]="asignatura">
                        {{ asignatura.nombre }}
                    </option>
                </select>
            </div>
            <button type="button" *ngIf="!miFormulario.controls['id'].value" (click)="crear()"
                class="btn btn-primary">Crear</button>
            <button type="button" *ngIf="miFormulario.controls['id'].value" (click)="editar()"
                class="btn btn-primary">Editar</button>
        </form>
    </div>
</div>